.logo {
    height: 28%;
    width: 28%;
    display: inline-block;
    margin: 2px
}

.de legend {

}

.header {
    background: #0e1bc5;
}

.body {
    background-color: #545161 ;
    color: white;
}
